.statistic-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1120px;
  margin: 90px auto;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.statistic-list__title {
  padding-left: 32px;
  color: #000;
  font-size: 1.5em;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.statistic-list__sort,
.statistic-list__filter {
  padding-right: 32px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  color: #7B8FA1;
  font-size: 0.75em;
}

.statistic-list__sort {
  margin-right: 120px;
}

.statistic-list__sort-icon,
.statistic-list__filter-icon {
  font-size: 1em;
  margin-right: 8px;
}

.statistic-list__table {
  display: flex;
  margin-top: 16px;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.selected {
  color: #7B8FA1;
}