.ant-layout-sider {
  background-color: $bg-dark;
  color: $text-purple;
  padding-bottom: 0 !important;
}

.ant-layout-sider-children {
  background-color: $bg-dark;
}

.ant-layout-sider-trigger {
 background-color: $bg-dark !important;
}

.ant-menu {
  background-color: $bg-dark;
  border-right: none;
}

.ant-menu-item {
  background-color: $bg-dark !important;
  border: none !important;
  font-weight: 400;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $text-purple;
}
.login-page__logo-sidebar img{
  width: 200px;
  height: 180px;
}

.ant-layout-sider-collapsed .login-page__logo-sidebar img{
  width: 80px;
  height: 80px;
}
.ant-menu-item.active {
  background-color: #f0f0f0 !important;
  color: #000;
  font-size: large;
}

.button-logout-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.button-logout {
  width: 70px !important;
  padding: 0 !important;
}