.home-page {
    color: black;

    &__container {
        padding: 48px;
    }

    &__box {
        position: relative;
        text-align: center;
        border: 1px solid black;
        width: 249px;
        height: 134px;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    .name-box {
        margin: 0 auto;
        padding-top: 21px;
        padding-bottom: 89px;
        font-size: 19px;
        font-family: Mulish;
    }
    h2 {
        position: absolute;
        top: 50%; 
        left: 0;
        right: 0;
        transform: translateY(-50%); 
        margin: 12px auto 24px;
        width: 100%; 
        text-align: center;
        font-size: 40px;
        font-weight: bold;

    }
    .ant-card-body {
        border: none;
        height: 100%;
    }
      
    .home-page__video-display {
        display: flex;
        height: 100%;
    }
}
